<!DOCTYPE HTML>
<html>
<head>
<title>工作站管理</title>
    <include file="base-file" />
<style>
body {
	background-color: #fff;	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 20px;
}
</style>
</head>
<body>
<div >
&nbsp;<a class="btn btn-large btn-primary" href="#"  data-toggle="modal"    data-target="#myModal7"><i class="icon-plus"></i>&nbsp;&nbsp;新增&nbsp;&nbsp; </a>
<!--&nbsp;<a class="btn btn-large btn-primary btn-success" href="#"  data-toggle="modal"    data-target="#myModal4"><i class="icon-plus"></i>&nbsp;&nbsp;修改&nbsp;&nbsp; </a>
&nbsp;<a class="btn btn-large  btn-info active"   href="#" onClick="leadingwin()"><i class=" icon-upload-alt"></i>&nbsp;&nbsp;导入&nbsp;&nbsp;</a>-->
</div>
  <table id="table" class="table-striped"   data-toggle="table" data-height="350"  data-url="/public/json/data-basic-xq-ld.json"  data-page-size="15" data-show-columns="true"  data-jumpMenu="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-export="true" data-pagination="true" width="100%">
    <thead  class="thead" >
      <tr>
      <th data-checkbox="true"  data-field="state"></th>
        <th data-align="center" data-formatter="operateFormatter" data-events="operateEvents">  操作</th>
        <th data-field="sfd" data-align="center"  data-sortable="true">工作站名称</th>
        <th data-field="mj" data-align="center"  data-sortable="true">供热总面积（平方米）</th>
        <th data-field="fzr" >负责人</th>
        <th data-field="lxfs" >联系方式</th> 
      </tr>
    </thead>
  </table>
  <!-- 模态框（Modal） -->
<!--&nbsp;<a class="btn btn-large btn-primary" href="#"  data-toggle="modal"    data-target="#myModal8"><i class="icon-plus"></i>&nbsp;&nbsp;新增&nbsp;&nbsp; </a>
&nbsp;<a class="btn btn-large btn-primary btn-success" href="#"  data-toggle="modal"    data-target="#myModal4"><i class="icon-plus"></i>&nbsp;&nbsp;修改&nbsp;&nbsp; </a>
&nbsp;<a class="btn btn-large  btn-info active"   href="#" onClick="leadingwin()"><i class=" icon-upload-alt"></i>&nbsp;&nbsp;导入&nbsp;&nbsp;</a>
</div>
    <table id="table2" class="table-striped"   data-toggle="table" data-height="350"  data-url="data-basic-xq-ld.json"  data-page-size="15" data-show-columns="true"  data-jumpMenu="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-export="true" data-pagination="true" width="100%">
    <thead  class="thead" >
      <tr>
      <th data-checkbox="true"  data-field="state"></th>
        <th data-align="center" data-formatter="operateFormatter" data-events="operateEvents">  操作</th>
        <th data-field="xqmc" data-align="center"  data-sortable="true">监测数据</th>
        <th data-field="fzr" >今日</th>
        <th data-field="lxfs" >昨日</th> 
        <th data-field="dress" >地址</th>
      </tr>
    </thead>
  </table>-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog"  >
      <div class="modal-content"   style="width:852px;">
         <div class="modal-header" style="width:850px; background-image:url(../images/title_di.jpg); height:43px; padding-top:4px;margin:0;">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel" >
              新增工作站信息               
            </h4>
         </div>
         <div style="padding:0; width:850px;height:280px;">
            <iframe src="zzz-info.html" style="width:100%;height:100%;border:0; margin-top:0;"></iframe>
         </div>
    <div class="modal-footer" style="width:850px; height:43px;  background-image:url(../images/title2_di.jpg);">
            <button type="button"  class="btn btn-large btn-primary"  onClick="window.close();" 
               data-dismiss="modal">提交
            </button>
            <button type="button" class="btn btn-large btn-primary btn-warning" href="#" onClick="window.close();" >
               取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog"  >
      <div class="modal-content"   style="width:852px;">
         <div class="modal-header" style="width:850px; background-image:url(../images/title_di.jpg); height:43px; padding-top:4px;margin:0;">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel" >
              新增用户信息               
            </h4>
         </div>
         <div style="padding:0; width:850px;height:280px;">
            <iframe src="yh-Info-List-info.html" style="width:100%;height:100%;border:0; margin-top:0;"></iframe>
         </div>
 <div class="modal-footer" style="width:850px; height:43px;  background-image:url(../images/title2_di.jpg);">
            <button type="button"  class="btn btn-large btn-primary"  onClick="window.close();" 
               data-dismiss="modal">提交
            </button>
            <button type="button" class="btn btn-large btn-primary btn-warning" href="#" onClick="window.close();" >
               取消
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<!--
<script type="text/javascript">     //以下JS是左侧菜单切换显示/隐藏可折叠
   $(function () { $('#collapseFour').collapse({
      toggle: false       //激活内容为可折叠元素。接受一个可选的 options 对象
   })});
   $(function () { $('#collapseTwo').collapse('show')});   //显示可折叠元素。
   $(function () { $('#collapseThree').collapse('toggle')});  //切换显示/隐藏可折叠
   $(function () { $('#collapseOne').collapse('hide')});    //隐藏可折叠元素
</script>  
--> 
<script>
    function operateFormatter(value, row, index) {
        return [
           /* '<a class="like" href="javascript:void(0)" title="Like">',
                '<i class="glyphicon glyphicon-heart"></i>',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',*/
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class=" icon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
      /*  'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },*/
        'click .remove': function (e, value, row, index) {
            alert('你确定要删除此条信息吗？');
        }
    };
</script>
<script>
var $table = $('#table');
function operateFormatter(value, row, index) {
        return [
            '<a class="modify" data-toggle="modal" data-target="#myModal5" href="#" title="修改">',
            '<i class="icon-edit icon-large"  style="font-size:14px;color:#71C971;"></i>',
            '</a >&nbsp;&nbsp;&nbsp;&nbsp;',
            '<a class="remove icon-large" href="javascript:;" title="删除">',
            '<i class="icon-trash" style="font-size:14px;color:#F0706D;"></i>',
            '</a >'
        ].join('');
    }
window.operateEvents = {
       /* 'click .modify': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        },*/
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'itemid',
                values: [row.itemid]
            });
        }
    };   
</script>
<script type="text/javascript">
    function FullInfo(){ 
   window.showModalDialog("companyInfo.html","","dialogWidth:1000px; dialogHeight:350px;dialogLeft:400px; dialogTop:300px;  scroll:no;status:no") 
   } 
   
   $(function () { 
      $('#collapseFour').on('show.bs.collapse', function () {   // 执行一些动作...  在调用 show 方法后触发该事件。还有shown/hide/hidden.bs.collapse 等方法。
         alert('嘿，当您展开时会提示本警告');})
   });
</script>
</body>
</html>
