<!DOCTYPE HTML>
<html>
<head>
<title>公司</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=yes">

<!-- 引入 Bootstrap -->
<link href="../files/commcss/custom.css" rel="stylesheet">
<link href="../files/bootstrap-table-1.7.0/bootstrap-table.min.css" rel="stylesheet">
<link href="../files/commcss/css/font-awesome.min.css" rel="stylesheet">
<style>
.coolscrollbar {
	scrollbar-arrow-color: yellow;
	scrollbar-base-color: lightsalmon;
}
</style>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
      	 <link href="files/icons/css/font-awesome-ie7.min.css" rel="stylesheet">
         <script src="files/bootstrap-3.3.4/html5shiv.js"></script>
         <script src="files/bootstrap-3.3.4/respond.min.js"></script>
      <![endif]-->

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script  src="../files/commjs/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script  src="../files/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="../files/bootstrap-table-1.7.0/bootstrap-table.min.js"></script>
<script src="../files/bootstrap-table-1.7.0/bootstrap-table-filter.min.js"></script>
<script src="../files/bootstrap-table-export/bootstrap-table-export.js"></script>
<script src="../files/bootstrap-table-export/tableExport.js"></script>
<script src="../files/bootstrap-table-export/jquery.base64.js"></script>
<script src="../files/bootstrap-table-export/html2canvas.js"></script>
<script src="../files/bootstrap-table-export/jspdf/libs/sprintf.js"></script>
<script src="../files/bootstrap-table-export/jspdf/jspdf.js"></script>
<script src="../files/bootstrap-table-export/jspdf/libs/base64.js"></script>
<script language="JavaScript" type="text/javascript" src="../files/commjs/topLink.js"></script>
<style>
body {
	background-color: #fff;	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 20px;
}
</style>
</head>
<body>
  <table  class="table-striped"   data-toggle="table" data-height="700"  data-url="data-basic-2.json"  data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-export="true" data-pagination="true" width="100%">
    <thead  class="thead" >
      <tr>
        <th data-field="itemid" data-align="center"  data-sortable="true">听课证号</th>
        <th data-field="name" >姓名</th>
        <th data-field="selx" data-align="center"  data-sortable="true">性别</th>
       <!-- <th data-field="type" >类别</th>-->
        <th data-field="pxzh" data-align="center" >培训证号</th>
        <th data-field="sfz" data-align="center"  data-sortable="true" data-formatter="priceFormatter">身份证号</th>
      <!--  <th data-field="dress" >单位地址</th>
        <th data-field="dname" >单位名称</th>-->
        <th data-field="zw" >职务</th>
        <th data-field="photo" data-align="center">联系电话</th>
        <th data-field="fzdw" >发证单位</th>
        <th data-field="date" data-align="center" data-sortable="true">发证日期</th>
      </tr>
    </thead>
  </table>

<!--
<script type="text/javascript">     //以下JS是左侧菜单切换显示/隐藏可折叠
   $(function () { $('#collapseFour').collapse({
      toggle: false       //激活内容为可折叠元素。接受一个可选的 options 对象
   })});
   $(function () { $('#collapseTwo').collapse('show')});   //显示可折叠元素。
   $(function () { $('#collapseThree').collapse('toggle')});  //切换显示/隐藏可折叠
   $(function () { $('#collapseOne').collapse('hide')});    //隐藏可折叠元素
</script>  
--> 
<script>
    function nameFormatter(value, row) {
        var icon = row.id % 2 === 0 ? 'glyphicon-star' : 'glyphicon-star-empty'

        return '<i class="glyphicon ' + icon + '"></i> ' + value;
    }

    function priceFormatter(value) {
        // 16777215 == ffffff in decimal
        var color = '#'+Math.floor(Math.random() * 6777215).toString(16);
        return '<div  style="color: ' + color + '">' +
                '<i class="icon-tag "></i>' +
                value.substring(1) +
                '</div>';
    }
</script>
<script type="text/javascript">
  function FullInfo(){ 
   window.showModalDialog("FullInfoSearch.html","","dialogWidth:800px; dialogHeight:350px;dialogLeft:400px; dialogTop:300px;  scroll:no;status:no") 
   }
   $(function () { 
      $('#collapseFour').on('show.bs.collapse', function () {   // 执行一些动作...  在调用 show 方法后触发该事件。还有shown/hide/hidden.bs.collapse 等方法。
         alert('嘿，当您展开时会提示本警告');})
   });
</script>
</body>
</html>
